.SearchForm {
  display: flex;
  flex-direction: column;
  padding: 186px 0 80px;
  align-items: center;
  background: url("../../assets/background.svg") center no-repeat;
  background-size: cover;
}

.SearchForm__title {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0;
  padding-bottom: 32px;
  width: 608px;
  color: white;
}

.SearchForm__subtitle {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 88px;
  color: white;
}

.SearchForm__form {
  display: flex;
  justify-content: center;
}

.SearchForm__input {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-radius: 100px;
  border-style: none;
  width: 376px;
  padding: 21px 208px 21px 24px;
}

.SearchForm__button {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #2f71e5;
  border-radius: 100px;
  border-style: none;
  padding: 20px 56px;
  margin-left: -170px;
}
