.card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 576px;
}

.card__overlay {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.card__image {
  position: relative;
  aspect-ratio: 16/9;
  background: #e6e8eb;
  background-size: cover;
  background-position: center;
  border: 0;
}

.card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
  border-radius: 10px;
  padding: 8px 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.card__button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__button-img {
  opacity: 40%;
  transition: 0.3s ease;
}

.card__button:hover .card__button-img {
  opacity: 100%;
}

.card__button--saved .card__button-img {
  opacity: 100%;
}

.card__tooltip {
  position: absolute;
  top: 24px;
  right: 69px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  background: #fff;
  padding: 14px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.card__button:hover + .card__tooltip,
.card__tooltip:hover {
  opacity: 1;
  visibility: visible;
}

.card__body {
  padding: 20px 24px 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__date {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0 0 12px;
}

.card__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
  margin: 0 0 16px;
}

.card__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2f2f2f;
  margin: 0 0 18px;
  overflow: hidden;
  flex: 1;
  min-height: 0;
}

.card__source {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: auto 0 0 0;
}

@media screen and (max-width: 768px) {
  .card {
    width: 224px;
    height: 420px;
  }

  .card__button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .card__tooltip {
    top: 8px;
    right: 55px;
  }

  .card__body {
    padding: 16px;
  }
}

@media screen and (max-width: 645px) {
  .card {
    width: 288px;
    height: 440px;
  }

  .card__button {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .card__tooltip {
    top: 16px;
    right: 65px;
  }

  .card__body {
    padding: 16px;
    min-height: 0;
  }
}
